.App {
  text-align: center;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  /* border: 2px solid #3378e8; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
} */

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h4 {
  margin-left: 23px;
  /* margin: 32px 0; */
  color: black;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-form {
  margin-left: 23px;
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 10px 0 0 10px;
  border: 2px solid #3378e8;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    80deg,
    rgb(113, 125, 236) 0%,
    rgb(63, 118, 245) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid rgb(111, 158, 239);
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row-plain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: black;
  /* background: linear-gradient(
    90deg,
    rgb(207, 138, 89) 0%,
    rgb(248, 145, 104) 100%
  ); */
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  height: 30px;
  border: 1px solid black;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  height: 40px;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(192, 112, 241) 100%,
    rgb(181, 159, 226) 0%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(58, 164, 77) 100%,
    rgb(90, 204, 90) 0%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(17, 122, 255, 1) 100%,
    rgba(20, 159, 255, 1) 0%
  );
}

.todo-row:nth-child(4n + 4) {
  background: linear-gradient(
    90deg,
    rgb(207, 138, 89) 0%,
    rgb(248, 145, 104) 100%
  );
}

.icons {
  /* display: list-item; */
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

.delete-icon {
  color: #fff;
}

.edit-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.list-contain {
  margin-top: 80px;
  max-width: 100%;
  max-height: 600px;
  overflow: scroll;
  border: 1px solid pink;
}
