.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.backgroudImage {
  padding: 20px;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h4 {
  margin-left: 23px;
  color: black;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.taskForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-form {
  margin-left: 23px;
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 10px 0 0 10px;
  border: 2px solid #1976d2;
  outline: none;
  width: 320px;
  background: white;
  color: black;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #1976d2;
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid rgb(111, 158, 239);
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: colum;
  position: relative;
}

.todo-row {
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  min-height: 180px;
  max-width: 420px;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(90deg, #ffd4d4 100%, #ffd4d4 0%);
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(90deg, #ffffe8 100%, #ffffe8 0%);
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(90deg, #cde990 100%, #cde990 0%);
}

.todo-row:nth-child(4n + 4) {
  background: linear-gradient(90deg, #bdcdd6 0%, #bdcdd6 100%);
}

.icons {
  margin-top: auto;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

.delete-icon {
  color: #393e46;
}

.edit-icon {
  margin-right: 10px;
  color: #393e46;
}

.list-contain {
  margin-top: 80px;
  max-width: 100%;
  max-height: 600px;
  overflow: scroll;
  background-color: #fff;
  padding: 20px;
}

.todo-row img {
  right: -15px;
  top: 0;
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 50px;
}

img.hover-zoom:hover {
  transform: scale(2.5) translate(-50%);
}
